<h2 id="title">
					<i class="fa fa-facebook-square" aria-hidden="true"></i>
					Friend Finder
				</h2>


	<div class="col-md-3">
		<div class="thumbnail">
			<img alt="Bootstrap Thumbnail First" src="{{photo}}" />
			<div class="caption">	
				<p>{{name}} </p>		
			</div>
		</div>
	</div>

