<div id = "friends-nav">
					<ul>
						<li> <a href= "./friends"> All Friends</a> </li>
						<li> | </li>
						<li> <a href= "./female-friends">Female Friends </li>
						<li> | </li>
						<li> <a href= "./male-friends">Male Friends </li>
					</ul>
				</div>

<h2 id="title">
					<i class="fa fa-facebook-square" aria-hidden="true"></i>
					Friend Finder
				</h2>
				

{{#each friends }}

	<div class="col-md-3">
		<div class="thumbnail">
			<img alt="Bootstrap Thumbnail First" src="{{photo}}" />
			<div class="caption">	
				<p>{{name}} </p>		
			</div>
		</div>
	</div>
{{/each}}






			