<h1 id="title"> Friends </h1>
{{#each friends }}

	<div class="col-md-3">
		<div class="thumbnail">
			<img alt="Bootstrap Thumbnail First" src="{{photo}}" />
			<div class="caption">	
				<p>{{name}} </p>		
			</div>
		</div>
	</div>
{{/each}}






			