body {
	/*background-image: url("http://www.wallpaperg.com/resized_file/4--bucket/1308047451-sweet-love-couple-file.jpg")*/
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAhcGzLl6Xb4eTfqx9yweBwUc59WQN3DA3qnMVljESGtHECH34Dw")
}



.main {
width: 60%;
margin: 0 auto;
margin-top: 125px;
background-color: lightblue;
text-align: center;
}

.main h2 {
	font-size: 50px;
	margin-bottom: 20px   ;
}

#content {

margin-top: 25px;
border-top: 1px lightgray solid;
}

#content p {
	font-size: 30px;
	font-weight: bold;

}

#survey-button {
	margin-top: 10px;
	font-size: 25px;
}

.radio {
	display: inline;
	padding: 10px;
	border-bottom: 1px solid lightgray;
	margin-top: 10px;
	margin-bottom: 10px;
}

.survey-main {
	margin: 0 auto;
	margin-top: 50px;
	width: 60%;
}


.survey-main  h1  {
	font-size: 40px;
	
}
.survey-main p {
	font-size: 25px;
}

.survey-main h1 , p {
text-align: center;
}

#questions {
	margin-top: 0px;
	padding-top: 0px;
	padding: 10px;
	margin-bottom: 20px;
	margin-left: 15px;
	width: 75%;
	margin: 0 auto;

}

#survey-submit {
	width: 30%;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.box {
	display: inline;
	border: 1px solid black;
	width: 20%;
}

.box p {
	width: 20%;
}

.caption {
	text-align: center;
	font-size: 25px;
}

.thumbnail {
	padding-top: 35px;
	background-color: lightgray;
	border: 1px solid black;
}

.thumbnail img {
	height: 150px;

}

#title {
	text-align: center;
	color: darkblue;
	margin: 40px 0;
}

.modal-content {
    background: background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #EAEEF1, #faf8ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #EAEEF1, #faf8ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #122A52;
}


.modal-title {
	text-align: center;
}

.friend-modal {
	width: 40%;
	margin: 0 auto;
}

.friend-modal h2 {
	text-align: center;
}

.friend-modal img {
	height: 200px;

}

#friends-nav li  {
	background-color: lightgray;
	display: inline;
	padding: 10px;
	margin-top: 10px;
	font-size: 15px;
	padding-top: 10px;
	color: blue;
	text-decoration: none;
}

#friends-nav a {
	color: darkblue;
	text-decoration: none;
}


