.main {
width: 60%;
margin: 0 auto;
margin-top: 125px;
background-color: lightblue;
text-align: center;
}

.main h2 {
	font-size: 50px;
	margin-bottom: 20px   ;
}

#content {

margin-top: 25px;
border-top: 1px lightgray solid;
}

#content p {
	font-size: 30px;
	font-weight: bold;

}

#survey-button {
	margin-top: 10px;
	font-size: 25px;
}

.radio {
	display: inline;
	padding: 10px;
	border-bottom: 1px solid lightgray;
	margin-top: 10px;
	margin-bottom: 10px;
}

.survey-main {
	margin: 0 auto;
	margin-top: 50px;
	width: 60%;
}


.survey-main  h1  {
	font-size: 40px;
	
}
.survey-main p {
	font-size: 25px;
}

.survey-main h1 , p {
text-align: center;
}

#questions {
	margin-top: 0px;
	padding-top: 0px;
	padding: 10px;
	margin-bottom: 20px;
	margin-left: 15px;
	width: 75%;
	margin: 0 auto;

}

#survey-submit {
	width: 30%;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

